<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Классный код
        <bean name="service" class="ru.otus.lesson1.service.PersonService">
            <constructor-arg ref="personDaoImpl"/>
        </bean>
        <bean name="personDaoImpl" class="ru.otus.lesson1.dao.PersonDaoImpl"></bean>
    -->
    <!-- без p и c
    <bean name="questionServ" class="ru.otus.lesson1.service.QuestionServ">
        <constructor-arg ref="lineDao"></constructor-arg>
    </bean>-->
    <bean name="questionServ" class="ru.otus.lesson1.service.QuestionServ">
        <constructor-arg ref="lineDao"/>
    </bean>

    <bean name="lineDao" class="ru.otus.lesson1.dao.LineDao">
        <!--<property name="list">
           <map>
            <entry key="Посчитать выражение 3+2" value="5"/>
            <entry key="Вы мужчина?" value="y,n"/>
           </map>
        </property>-->
    </bean>

<!--    <bean name="questionServ" class="ru.otus.lesson1.service.QuestionServ" c:lineDao="lineDao"/>-->




    <bean name="qClass" class="java.lang.Class" factory-method="forName">
        <constructor-arg value="ru.otus.lesson1.domain.Question"/>
    </bean>

<!--    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
<!--    </bean>-->
    <bean name="mapper" class="com.fasterxml.jackson.dataformat.csv.CsvMapper"/>
    <!--<bean name="mapper2" class="com.fasterxml.jackson.dataformat.csv.CsvMapper">
        <constructor-arg name="src"
    </bean>-->

<!--    <bean name="schema" class="com.fasterxml.jackson.dataformat.csv.CsvSchema" ></bean>-->

    <!--<bean name="schema" class="com.fasterxml.jackson.dataformat.csv.CsvSchema" factory-bean="mapper" factory-method="schemaFor">
        <constructor-arg index="0" ref="qClass"/>
    </bean>-->
</beans>